<h1 class="is-size-1">Current available events</h1>
<div class = "month">
    <li>January</li>
</div>
<br>
<div class = "box">
    {{date}} 
    {{time}}
    {{title}}
    {{text}} 
    <form action="/updateEvent/{{id}}" method="GET">
        <input type="submit" value="update" />
    </form>
    <form action="/deleteEvent/{{id}}" method="POST">
        <input type="submit" value="delete"/>
    </form>
</div>
<br>
<div class ="month">
    <li>February</li>

</div>
<br>
<div class ="month">
    <li>March</li>
</div>
<br>
<div class ="month">
    <li> April</li>    
</div>
<br>
<div class ="month">
    <li>May</li>    
</div>    
<br>
<div class ="month">
    <li>June</li>    
</div>
<br>
<div class ="month">
    <li>July</li>    
</div>
<br>
<div class ="month">
    <li>August</li>    
</div>
<br>
<div class ="month">
    <li>September</li>    
</div>
<br>
<div class ="month">
    <li>October</li>    
</div>
<br>
<div class ="month">
    <li>November</li>    
</div>
<br>
<div class ="month">
    <li>December</li>
</div>

  